#footer {
    /* border: 3px solid rgb(35, 35, 29); */
    height: 20px;
    background-color: rgb(19, 19, 18);
    padding: 5px 12px;
    font-size: large;
    color: white;
    border-top: 3px solid rgb(99, 190, 9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 5px 5px 10px rgb(18, 18, 18);
    position: fixed;
    bottom: 6px;
    width: 90%;
}