#form_box {
    background-image: url('../media/images/form.jpg');
    background-size: cover;
    background-position: center;
    /* background-color: rgb(134, 128, 244); */
    margin: 40px auto;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0d0d0d;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    font-size: 20px;
    padding: 8px 12px;
    width: 94%;
    border-radius: 5px;
    border: 2px solid #3f3f3f;
    margin-top: 5px;
}

#form_box h2 {
    background-color: #434242;
    color: #ee4141;
    padding: 8px 15px;
    margin-bottom: 30px;
}

#form_box > div {
    margin: 10px auto;
    width: 55%;
}

input[type='submit'] {
    width: 30%;
}